.Pokedex {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;

}

.Pokedex-header {
    font-size: 2.5rem;
    text-align: center;
    color: #fca311;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

.Pokedex-p1 {
    color: #3a86ff;
}

.Pokedex-p2 {
    color: #ef233c;
}

.Pokedex-winner {
    color: greenyellow;
}

.Pokedex-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 10px;
    justify-items: center;

}

.Pokedex-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;

}